form {
  margin: 1rem;
  background-color: #333;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 25rem;
  border-radius: 5px;
}

form div {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

form input, form select {
  max-width: 90%;
  border-radius: 3px;
  border: none;
  height: 1.5rem;
}

form textarea{
  height: 3.5rem;
}

form button {
  margin-left: 1rem;
  margin-top: 1.5rem;
}