.letters {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
}

.post {
  font-family: 'Caveat', cursive;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../assets/noteBackground.jpg") no-repeat top center/cover;
  width: 20vw;
  min-height: 12vw;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: 1rem;
  box-shadow: 10px 10px 5px #333;
}

.post h1, .post .message {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
.post h1 {
  font-size: 1.2rem;
}

.post .scriptum {
  display: flex;
  justify-content: end;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}