.App {
  background: cornflowerblue;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App .formAndPrev {
  display: flex;
  flex-direction: row;
}

.App .modal {
  color:aliceblue;
}

button {
  width: 12rem;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px;
}